<!--
* Author: Liz Conway
* Assignment: WE4
Mobile Web Applications, Digital Skills Academy
* Date : 2016/07/05
* Ref: website link to code referenced or the book, authors name and page number
-->
<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html data-ng-app="todoApp">
    <head>
        <meta charset="utf-8">
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <title>2 Do</title>
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <!-- <script src="js/todo.js"></script> -->
        <script type="text/javascript" src="js/index.js"></script>
        <script src="jQuery/jquery-1.12.3.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-route.min.js"></script>
		<!-- <script src="jQuery/jquery.mobile-1.4.5.min.js"></script> -->

        <script src="js/todo.js"></script>
        <!-- <script src="../../../js/jqm-desktop.js"></script> -->
        <link rel="stylesheet" href="css/todo.css">
        <link href="css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="app" data-ng-controller="todoController">
			<div data-role="page" id="todo-page" data-ng-show="showTodos">
			<!-- REF https://docs.angularjs.org/api/ng/directive/select -->
			<div>
				<label for="search">Filter :  </label>
				<select name="search" data-ng-model="filterType">
					<option value="" id="resetFilter">reset filter</option>
					<option data-ng-repeat="type in types" value="{{type.type}}">{{type.type}}</option>{{filterType}}
				</select>
				<!-- <input type="text" id="search" data-ng-model="filterType" />{{searchName}} -->
			</div>	<!-- Filter Div -->
			<!-- <input type="checkbox" id="checky" /> -->
			<div class="todo">
				<h1>To Do</h1>
				<div class="centreButton">
					<button data-ng-click="doAll()" data-ng-show="!allDone">
						Do All
					</button>
				</div>
				<ul class="todo-list">
				<!-- How to Filter todo list by boolean data
						REF http://stackoverflow.com/questions/18016770/angularjs-filtering -->
					<li data-ng-repeat="todo in todoList | filter:filterType" data-ng-show="!todo.done">
						<input type="checkbox" data-ng-model="todo.done" />
						<span class="todo-item"><strong>{{todo.todo}}</strong></span>
						<span class="right">{{todo.type}}</span>
					</li>
				</ul>
				<ul class="todo-list">
					<li class="newItem">
						{{newDo}}
						<span class="right">{{newDoType}}</span>
					</li>
				</ul>
			</div>	<!-- /todo Div -->
			<div class="newdo">
			<hr>
				<h1>New Do</h1>
				<div id="enterTodo">
					<label for="newToDo">To Do :
					</label>
					<!-- <input type="text" name="newToDo" data-ng-model="newDo" data-ng-focus="enableAdd()"/> -->
					<input type="text" name="newToDo" data-ng-model="newDo" />
					<br>
					<label for="newType">Type :</label>
					<select name="newType" data-ng-model="newDoType">
						<option data-ng-repeat="type in types" value="{{type.type}}">{{type.type}}</option>{{filterType}}
					</select>
					<br>
					<div class="centreButton">
						<!-- <button id="add-button" disabled="true" data-ng-click="addTodo()"> -->
						<button id="add-button" data-ng-click="addTodo()">
							Add ToDo
						</button>
					</div>	<!-- /button -->
				</div>	<!-- /enterTodo -->

			</div>	<!-- /newDo Div -->
				<hr>
			<div class="duedo">
				<h1>Due Do</h1>
				<ul class="duedo-list">
					<li data-ng-repeat="todo in todoList | filter:filterType" data-ng-show="todo.done">
						<input type="checkbox" data-ng-model="todo.done" />
						<strong>{{todo.todo}}</strong>
						<button data-ng-click="deleteEntry($index)" class="right"><i class="mdi mdi-delete"></i></button>
						<span class="right">{{todo.type}}</span>
					</li>
				</ul>
			</div>	<!-- /duedo -->
			<div class="centreButton">
				<button data-ng-click="showEditTypesPage()">
					Edit Types
				</button>
			</div>
			<div class="centreButton">
				<button data-ng-click="saveToDoList()">
					Save ToDo List
				</button>
			</div>
			</div>	<!-- /todo-page -->
	        <div data-role="page" id="editType" data-ng-show="!showTodos">
	        	<h1>Edit ToDo Types Page</h1>
				<div id="unremoveable">{{inUse}}</div>
				<div id="addType">
					<ul>
						<li data-ng-repeat="type in types">
							{{type.type}}
							<button data-ng-click="deleteType($index)" class="bin"><i class="mdi mdi-delete"></i></button>
						</li>
					</ul>
					<label for="new-Type">New Type :
					</label>
					<input type="text" name="new-Type" data-ng-model="newType" data-ng-focus="inUse=''" />
					<button data-ng-click="addType()">
						Add Type
					</button>
					<div id="saveTypeButton" class="centreButton">
						<button data-ng-click="saveType()">
							Save ToDo Types
						</button>
					</div>	<!-- /saveTypeButton -->
				</div>	<!-- /addType -->
				<div class="centreButton">
					<button data-ng-click="showToDoListPage()">
						Show ToDo List
					</button>
				</div>

	        </div>	<!-- /editType page -->
        </div>	<!-- /app Div -->
        <!-- <script type="text/javascript" src="cordova.js"></script> -->
    </body>
</html>
