/**
 * 
* Author: Liz Conway
* Assignment: WE4 Mobile Web Applications, Digital Skills Academy
* Date : 2016/07/05
 * REF HTML 5 & CSS3 for the real world.	Alexis Goldstein, Louis Lazaris, Estelle Weyl, SitePoint Pty Ltd, 1st Edition
 */
@CHARSET "UTF-8";
.todo-list {
	color: green;
	font-weight: bold;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

/** No bullet, left aligned */
ul {
	list-style-type: none;
	padding: 0;
}

/** Set backgrounds of odd and even children in the list */
.todo-list li:nth-child(odd):not(.newItem) {
	/*background: purple;*/
	/*background: #bf5fff*/ /*violet flower */
	background: lightblue;
}

.todo-list li:nth-child(even) {
	background: orange;
}

/** Curve bottom of last list item to match the curls in the hr below it */
.todo-list li:last-child {
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

/** Curve bottom of first list item to match the curls in the hr above it */
ul.todo-list li:first-child {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;	
}

/** Format the ToDo  type in the list - Move to the right of the list */
span.right {
	float: right;
	font-style: italic;
	padding-right: 10px;
	margin-right: 30px;
}

/** For delete buttons - move right and show colour of item behind it */
button.right {
	float: right;
	font-size: 75%;
	background-color: transparent;
	background-repeat: none;
	overflow: hidden;
	margin-right: 10%;
	
}

/** For delete buttons in Edit Types page - move right */
button.bin {
	float: right;
	font-size: 58%;
	background-color: transparent;
	background-repeat: none;
	overflow: hidden;
	margin-right:10%;
	
}

/**
 * Format the error message in Edit Types page
 * Only shown if user tries to delete a ToDo type that is associated with a ToDo item
 */
div#unremoveable {
	font-size: 125%;
	background: red;
	margin-right: 5px;
}

/**
 * Format the 'reset Filter' option in the select options list
 * Emphasises that it has different functionality than the rest of the options
 */
#resetFilter {
	font-size: 75%;
	font-style: italic;
	color: #c0c0c0;
}

/** Nice handwriting font for the ToDo items */
.todo-list, .duedo-list {
	font-family: cursive;
}

/** Align the label in the 'New Do' section */
#enterTodo label {
	float: left;
	width: 70px;
	text-align: right;
}

/** Place button in centre of page */
.centreButton {
	text-align: center;
	margin-top: 10px;
}

/** Make checkbox larger */
input[type=checkbox] {
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-ms-transform: scale(1.25);
	-o-transform: scale(1.25);
	transform: scale(1.25);
}

ul > li span.todo-item {
	display: inline-block;
}

/** Emphasise the ToDo item we are selecting */
ul > li:hover span.todo-item {
	-webkit-transform: translate(20px, -3px) scale(1.75);
	-moz-transform: translate(20px, -3px) scale(1.75);
	-ms-transform: translate(20px, -3px) scale(1.75);
	-o-transform: translate(20px, -3px) scale(1.75);
	transform: translate(20px, -3px) scale(1.75);
	
}

/* Does not work in web browser */
/* .unordered-list-item { 
	background-color: white;
}*/

/** Format the new item that appears as we type into the New ToDo input box
 *  Curve the bottom of the li to match the hr below it
 */
.newItem {
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	padding-left: 25px;
	margin-bottom: -12px;
	/*background: lightblue;*/
	background: #bf5fff /*violet flower */
}

/** Apply a linear gradient to the New Do section
 *  Curve the corners to match the hr above and below
 */
.newdo {
	/*background-image: url('../img/gradient.svg');*/
	 background: #fff8e7; /* For browsers that do not support gradients */
	  background-image: -webkit-linear-gradient(left, #fffff2, #fff8e7 7%, #ffff66 50%, #fff8e7 93%, #fffff2); /* For Safari 5.1 to 6.0 */
	  background-image: -o-linear-gradient(right, #fffff2, #fff8e7 7%, #ffff66 50%, #fff8e7 93%, #fffff2); /* For Opera 11.1 to 12.0 */
	background-image: -moz-linear-gradient(left center , #fffff2, #fff8e7 7%, #ffff66 50%, #fff8e7 93%, #fffff2);
	background-image: linear-gradient(left center , #fffff2, #fff8e7 7%, #ffff66 50%, #fff8e7 93%, #fffff2);
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-bottom: -5px;
	margin-right: 30px;
	
}

/** Shift the heading closer to the hr above */
.newdo h1 {
	margin-top: -35px;
}

/** Add space at bottom of New Do section */
#enterTodo {
	padding-bottom: 20px;
}

/** Curve the top of the Due Do section to match the hr above it
 * Shift the heading closer to the hr above
 */
.duedo {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	-moz-border-radius-topright: 20px;
	-moz-border-radius-topleft: 20px;
	margin-top: -35px;
	/*margin-right: 30px;*/
	background: #e4e4e4;	/* Same as in index.css */
}

/** Make the 'done' ToDos fainter + crossed out */
.duedo-list {
	color: red;
	opacity: 0.5;
	text-decoration: line-through;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
	
}

/** Set backgrounds of odd and even children in the list */
.duedo-list li:nth-child(odd) {
	background: blue;
}

.duedo-list li:nth-child(even) {
	background: yellow;
}

/** Format for every button */
button {
	-moz-border-radius: 10%;
	border-radius: 10%;
}

#addType {
	padding-left: 5px;
}

#addType ul > li:nth-child(even) {
	background: #ccc;
}

/*
 * REF https://css-tricks.com/examples/hrs/
 */
/* Flaired edges, by Tomas Theunissen */ 
hr { 
	height: 30px; 
	border-style: solid; 
	border-color: black; 
	border-width: 1px 0 0 0;
	border-radius: 20px;
}

hr:before { /* Not really supposed to work, but does */ 
	display: block; 
	content: ""; 
	height: 30px; 
	margin-top: -31px; 
	border-style: solid; 
	border-color: black; 
	border-width: 0 0 1px 0; 
	border-radius: 20px;
}
